<div>
  <%= image_tag("main.png", class: "responsive-img center") %>
</div>

<div class="center">
  <h4 class="featured">Featured Collections</h4>
  <hr>
</div>

<div class="row home">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="col s12 m4">
        <div class="card small z-depth-0">
          <div class="card-image">
            <%= link_to image_tag(product.image, class: "responsive-img"), product_path(product) %><br>
          </div>
          <div class="card-content center">
            <%= link_to product.name, product_path(product) %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
      <p>There are no products yet!</p>
  <% end %>
</div>

<div class="center">
  <h4 class="featured">About</h4>
  <hr>
  <h6>Freeformind designs charms and ornaments inspired by places and objects people love. We produce our products using small-batch manufacturing techniques such as 3D printing, lost wax casting, and photo-etching. We seek to propel interest in science, technology, engineering, and math. We geek out on architecture and small batch manufacturing processes. 3D printing inspires us because it allows us to create intricate shapes that can't be manufactured through traditional casting processes. Our products can be found online, and in museum stores and boutique gift shops throughout the US. Freeformind was established in 2014 in Emeryville, Ca.</h6>
</div>
