<div>
  <%= image_tag("main.png", class: "responsive-img center") %>
</div>

<div class="center">
  <h4 class="featured">Featured Collections</h4>
  <hr>
</div>



<%= link_to "See our products", products_path %>
