<h1>All Products</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <%= link_to product.name, product_path(product) %>
  <% end %>
<% else %>
  <p>There are no products yet!</p>
<% end %>
<%= link_to "New Product", new_product_path %>
